@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* default: light */
:root {
  --bg: #f0f4f8;
  --card-header: #9db3c2;
  --card-bg: #eaf0f6;
  --card-bg2: #d3dce5;
  --card-bg3: #c0c8d1;
  --bar-bg: #e0e8f0;
  --text: #2d3e50;
  --text2: #5f7386;
  --text3: #34495e;
  --text4: #6b7786;
  --text-header: #2d3e50;
  --border: #c8d1d9;
  --border2: #adc0d3;
  --button-bg: #c8d1d9;
  --button-bg2: #b2b8c0;
  --button-bg3: #a9b3bd;
  --button-hover: #9da9b8;
  --scroll: #a0a0a0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #171717;
    --card-header: #171717;
    --card-bg: #132135;
    --card-bg2: #273b54; /* smaller inner cards */
    --card-bg3: #161b22; /* project cards */
    --bar-bg: #273b54;
    --text: #ffffff;
    --text2: #d8dade;
    --text3: #c0faff; /* accent text */
    --text4: #a0a0a0; /* resume info/italic text */
    --text-header: #ffffff;
    --border: #ffffff; /* window borders */
    --border2: #5f5b82; /* for inside cards */
    --button-bg: #273b54; /* for contact */
    --button-bg2: #384158; /* for pill-button */
    --button-bg3: #34465d; /* for download */
    --button-hover: #3e5470; /* for contact & download */
    --scroll: #273b54;
  }
}

html.light {
  --bg: #f0f4f8;
  --card-header: #9db3c2;
  --card-bg: #eaf0f6;
  --card-bg2: #d3dce5;
  --card-bg3: #c0c8d1;
  --bar-bg: #e0e8f0;
  --text: #2d3e50;
  --text2: #5f7386;
  --text3: #34495e;
  --text4: #6b7786;
  --text-header: #2d3e50;
  --border: #c8d1d9;
  --border2: #adc0d3;
  --button-bg: #c8d1d9;
  --button-bg2: #b2b8c0;
  --button-bg3: #a9b3bd;
  --button-hover: #9da9b8;
  --scroll: #a0a0a0;
}

html.dark {
  --bg: #171717;
  --card-header: #171717;
  --card-bg: #132135;
  --card-bg2: #273b54; /* smaller inner cards */
  --card-bg3: #161b22; /* project cards */
  --bar-bg: #273b54;
  --text: #ffffff;
  --text2: #d8dade;
  --text3: #d89b74; /* accent text */
  --text4: #a0a0a0; /* resume info/italic text */
  --text-header: #ffffff;
  --border: #ffffff; /* window borders */
  --border2: #5f5b82; /* for inside cards */
  --button-bg: #273b54; /* for contact */
  --button-bg2: #384158; /* for pill-button */
  --button-bg3: #34465d; /* for download */
  --button-hover: #3e5470; /* for contact & download */
  --scroll: #273b54;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Inter", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, sans-serif;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 16px;
}

.custom-scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 8px;
}

/* Animation keyframes for the fill effect */
@keyframes fillUpEnglish {
  0% {
    width: 100%;
  }
  1% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fillUpTagalog {
  0% {
    width: 50%;
  }
  1% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes fillUpJapanese {
  0% {
    width: 20%;
  }
  1% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

/*
   * Apply a custom, dynamic timing function on hover.
   * `cubic-bezier(0.25, 1, 0.5, 1)` provides a smooth ease-out effect.
   * The animation will also persist its final state with `forwards`.
   */
.group:hover .bar-english {
  animation: fillUpEnglish 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.group:hover .bar-tagalog {
  animation: fillUpTagalog 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.group:hover .bar-japanese {
  animation: fillUpJapanese 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.skill-pill {
  background-color: var(--bg);
  border: 1px solid var(--border2);
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.5rem 1rem; /* px-4 py-2 */
  text-align: center;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.skill-pill:hover {
  transform: translateY(-0.125rem); /* -translate-y-0.5 */
}

.pill-button {
  background-color: var(--button-bg2);
  color: var(--text);
  font-size: 0.875rem;
  height: 1.75rem;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  transition: transform 0.2s ease-in-out;
}

.pill-button:hover {
  transform: translateY(-0.125rem);
}

.contact-button {
  background-color: var(--button-bg);
}

.contact-button:hover {
  background-color: var(--button-hover);
}

.download-button {
  background-color: var(--button-bg3);
}

.download-button:hover {
  background-color: var(--button-hover);
}
